
<div id="{{ .Get 0 }}1"><div onclick="uncollapse('{{ .Get 0 }}')" class="extra text-sm" style="cursor: pointer; color: black; border-left: 5px solid darkgrey"><b>{{ .Get 1 }} > </b></div>
<div id= "{{ .Get 0 }}" class="extra" style="display: none; width: 100%; border-left: 5px solid darkgrey">
    {{ .Inner }}
</div></div><br>
