<img id="face" src="/images/kids/hi.png">
<div id="bubble"><div id="text" class="text-base md:text-xl">Please, hang on for a second, I am loading.</div>
	<a onclick="talk();" class="next" id="next">▶</a>
	<a onclick="youWin();" class="next" id="victory_button" style="display: none; background: darkgreen;">Next chapter</a>
</div>

<script>
var postup = 0;
window.addEventListener('load', (event) => {
  talk();
});

function talk(delay)
{
postup += 1;
var say = eval("text"+postup)[0].replace("[name]", getCookie("firstName")).replace("*", "<span style='color: orange; font-weight: 900'>").replace("/", "</span>");
var shownext = eval("text"+postup)[1];
var tsumego = eval("text"+postup)[2];
var showpic = eval("text"+postup)[3];
var nextText = eval("text"+postup)[4];

setTimeout(function(){
document.getElementById("text").innerHTML = say;

if (shownext=="none"){
document.getElementById("next").style.display = "none";
}else if (shownext=="victory"){
document.getElementById("next").style.display = "none";
document.getElementById("victory_button").style.display = "block";
}else{
document.getElementById("victory_button").style.display = "none";
document.getElementById("next").style.display = "block";
document.getElementById("next").style.background = "yellow";
setTimeout(function(){document.getElementById("next").style.background = "orange";}, 400);
}

if (tsumego=="empty"){
document.getElementById("tsumego_wrapper").style.opacity = ".2";
}else
document.getElementById("tsumego_wrapper").style.opacity = "1";

document.getElementById("next").innerHTML = shownext;
face(showpic);

if (tsumego!="none"){
loadKidsTsumego(tsumego);
}

}, delay);
}

function face(whichFace){
document.getElementById("face").src = "/images/kids/" + whichFace + ".png";
}


</script>