{{ if .IsNamedParams }}
<div id="{{ .Get "id" }}" class="animateBackground mb-16 mx-auto max-w-5xl text-center pb-4" style="border-radius: 20px;">

	
			<div id="{{ .Get "id" }}_open" class="" style="overflow: hidden;">
				<div class="ml-0 sm:ml-4 text-left font-black mt-4 text-4xl sm:text-5xl leading-tight">{{ .Get "title" }} 
				
				{{ if (isset .Params "hidden") }}
				<a style="font-weight: 500; font-size: 15px; cursor: pointer;" onclick="hide({{ .Get "id" }}); setCookie({{ .Get "id" }}, '', '99')" style="cursor: pointer;">Collapse&nbsp△</a>
				{{ end }}
				
				</div>
				<div class="text-xl text-red-600 text-left ml-0 sm:ml-4 mb-12">{{ .Get "subtitle" }}</div>
				{{ .Inner }}
			</div>
	
	{{ if (isset .Params "hidden") }}
	<div id="{{ .Get "id" }}_closed" style="; display: block; top: 0px; width: 100%; z-index: -1; overflow: hidden; display: none;">
	{{ if eq .Params.id "rules" }}
			<div class="ml-0 sm:ml-4 font-black mt-4 text-4xl sm:text-5xl leading-tight">How to play Go!</div>
			This section is meant <b>for players with little to none experience</b> with the game.<br><br>
	{{ end }}

	{{ if eq .Params.id "techniques" }}
			<div class="ml-0 sm:ml-4 font-black mt-4 text-4xl sm:text-5xl leading-tight">Local techniques</div>
			For players who <b>already played some 9x9 games</b> and are interested in some local fighting techniques.<br><br>
	{{ end }}

	{{ if eq .Params.id "strategies" }}
			<div class="ml-0 sm:ml-4 font-black mt-4 text-4xl sm:text-5xl leading-tight">Whole board strategies</div>
			For players familiar with 9x9 who <b>want to switch to the 19x19 board</b>.<br><br>
	{{ end }}	
			<a class="button-green" style="height: 60px;" onclick="show({{ .Get "id" }}); setCookie({{ .Get "id" }}, '1', '99')"><span class="black">SHOW</span></a>
	</div>
	{{ end }}

	

</div>
{{ end }}
