    <meta charset="windows-1250" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,800&display=swap"
      rel="stylesheet"
    />
    <script type="text/javascript" src="/js/main.js"></script>

    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
	
	<meta property="og:image" content="https://www.learn-go.net/images/preview.jpg" />
	<meta property="og:image:type" content="image/jpeg" />
	<meta property="og:url" content="https://www.learn-go.net" />
	<meta property="og:title" content="Learn to play Go" />
	<meta property="og:description" content="Free interactive lessons for those wishing to learn the ancient game of Go. Enjoy!" />